= render 'button', color: 'Secondary', message: 'Cancel'
= render 'button', color: 'Warning', message: 'Warning! Giant snail approaching'
= render 'button', color: 'Alert', message: 'Error: object lost'
